<div class="comentarios">
	<h2>Estadisticas</h2>
	<ul>
		<li>Numero de preguntas: <strong><%=statistics.numeroPreguntas%></strong></li>
		<li>Numero de comentarios: <strong><%=statistics.numeroComentarios%></strong></li>
		<li>Media de comentarios: <strong><%=statistics.mediaComentarios%></strong></li>
		<li>Preguntas con comentarios: <strong><%=statistics.numeroPreguntasConComentarios%></strong></li>
		<li>Preguntas sin comentarios: <strong><%=statistics.numeroPreguntasSinComentarios%></strong></li>
	</ul>
</div>


