<div>

<form method="get" action="/quizes"> 
	<p>Introduzca filtro</p>
	<input type="text" name="search" value="" />
	<input type="submit" value="Buscar" />
</form>   

<ol>
	<% var i; for (i=0; i<preguntas.length; i++) { %>
		<li> 
			<a href="quizes/<%= preguntas[i].id%>"> <%= preguntas[i].pregunta %></a> 
			<span class="fontSmall"> (<%= preguntas[i].tema %>)</span>
			<p><a href="quizes/<%= preguntas[i].id%>/edit"> <button type="button">editar</button> </a>
			<form method="post" action="quizes/<%= preguntas[i].id%>/delete?_method=delete" > 
				<button type="submit" onclick="return confirm('Borrar: <%=preguntas[i].pregunta%>');">Borrar</button> 
			</form>
			</p>
		</li>
	<% } %>
</ol>

<a href="/quizes/new"><button type="button">CREAR NUEVA PREGUNTA</button></a>


</div>