	<form method="get" action="/quizes/<%= pregunta.id %>/answer"> 
		<p><strong>Pregunta:</strong> <%= pregunta.pregunta %></p>
		<input type="text" name="respuesta" value="Responda aquí" />
		<input type="submit" value="Enviar" />
	</form>    

<div class="comentarios">
	<p><a href="/quizes/<%= pregunta.id %>/comments"><button type="button">Nuevo comentario</button></a></p>
	<h4>Comentarios:</strong></h4>
<ol>
	<% for (index in pregunta.Comments) { %>
		<li>
			<p> 
				<%= pregunta.Comments[index].texto %>
				<% if (session.user && !pregunta.Comments[index].publicado) { %>
					<a href="/quizes/<%=pregunta.id%>/comments/<%=pregunta.Comments[index].id%>/publish">
						<button type="button">Publicar</button>
					</a>
				<% } %>
			</p>
		</li>
	<% } %>

</ol>
</div>